doctype html
html
  head
    title Some tests for kefir
    script(src='index.js')
    link(
      href='https://fonts.googleapis.com/css?family=Roboto&subset=latin,cyrillic'
      rel='stylesheet'
      type='text/css'
    )
    link(
      rel='stylesheet'
      href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css'
    )
    link( rel='stylesheet' href='application.css' )
  body
    .container
      h1 Тестовое задание, часть 2
      hr
      #slider-container.slider
